* {
  outline: none;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  font-size: 18px;
  min-width: 320px;
  font-family: Proxima, sans-serif;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.page-wrapper {
  overflow: hidden;
}

.container {
  max-width: 1210px;
  padding: 0 110px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    padding: 0 75px;
  }
  @media (max-width: 1100px) {
    padding: 0 50px;
  }
  &_z-index {
    z-index: 5;
    position: relative;
  }
}

.h1 {
  color: #fff;
  font-size: 70px;
  margin: 10px 0;
  font-family: sans-serif;
  @media (max-width: 1300px) {
    font-size: 62px;
  }
  @media (max-width: 1100px) {
    font-size: 56px;
  }
}


.h3 {
  color: #fff;
  font-size: 27px;
  line-height: 45px;
  @media (max-width: 1200px) {
    font-size: 22px;
    line-height: 36px;
  }
  @media (max-width: 1100px) {
    font-size: 21px;
    line-height:32px;
  }
}
