.header {
  &__outer {
    position: relative;

    &.extra-padding {
      padding-top: 60px;
    }
  }
  &__image {
    img {
      width: 100%;
    }
  }
  &__btn {
    display: flex;
    justify-content: flex-end;
  }
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 33px;

    &.without-bg {
      position: fixed;
      background-color: $color-indigo;
      z-index: 999;

      .header__menu-wrapper {
        padding-bottom: 20px;
      }
    }
  }
  &__menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__grid {
    display: flex;
    padding-top: 70px;
  }
  &__column {
    position: relative;
    padding-left: 10px;
  }
  &__phone-image {
    @media (max-width: 1200px) {
      width: 220px;
    }
  }
}
