.hidden {
  display: none;
}

.flex-grow-1 {
  flex-grow: 1;
}

.w-100 {
  width: 100%;
}

.w-120 {
  width: 120px;
}

.w-150 {
  width: 150px;
}

.w-370 {
  width: 370px;
}

.mt {
  margin-top: 35px;
}

.col-50 {
  width: 50%;
}

.p-relative {
  position: relative;
}

.mr-20 {
  margin-right: 20px!important;
}

.text-center {
  text-align: center;
}

.immediate-insights {
  position: absolute;
  width: 1100px;
  right: -330px;
  top: -70px;
  z-index: -1;
}

.people-facing {
  position: absolute;
  width: 760px;
  top: -225px;
  left: -135px;
  z-index: -1;

  img + img {
    position: absolute;
    top: 665px;
    width: 152px;
    left: 160px;
  }
}

.partners-image {
  margin-bottom: 50px;
  margin-top: 50px;
}

.img-hexagon {
  max-width: 886px;
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 0;
  opacity: 0.7;
}

.img-footer-patern {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: -100%;
}

.img-valuable-content {
  position: absolute;
  top: -20%;
  left: 0;
  width: 1000px;
  z-index: -1;
}

.img-understand-work {
  position: absolute;
  top: -100%;
  right: 0;
  width: 1000px;
  z-index: -1;
}

.img-hp-step1 {
  &:after {
    content: '';
    width: 200px;
    height: 149px;
    position: absolute;
    top: -50%;
    left: 0;
    background: url(../images/svg/MOD-Website-Components-R1_homepage-step1-icon.svg);
  }
}

.img-extenging {
  position: absolute;
  top: -100%;
  right: 0;
  width: 1000px;
  z-index: -1;
}

.business-image {
  margin: 50px 0;
  img {
    width: 100%;
  }
}

.img-accessing {
  position: absolute;
  top: -366%;
  right: -61%;
  z-index: -1;
  width: 1000px;
}
