@import 'variables';

p {
  margin: 0 0 15px;
}

.menu {
  display: flex;
  &__item {
    position: relative;
    padding-left: 32px;
    font-family: Proxima, sans-serif;
    @media (max-width: 1200px) {
      padding-left: 20px;
    }
    &:after {
      content: '';
      position: absolute;
      height: 12px;
      width: 1px;
      background: #fff;
      left: 15px;
      top: 4px;
      @media (max-width: 1200px) {
        left: 8px;
      }
    }
    &:first-child {
      &:after {
        display: none;
      }
    }
  }
  &__link {
    color: #fff;
    &_active {
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        margin-top: 3px;
        height: 6px;
        width: 25px;
        background: url('/images/svg/MOD-Website-Components-R1_3dots.svg') no-repeat;
      }
    }
    &:hover {
      opacity: .8;
    }
  }
}

.logo {
  width: 200px;
  img {
    width: 100%;
  }
}

.btn {
  font-weight: 600;
  border: none;
  text-decoration: none;
  border-radius: 20px;
  background: $color-grass;
  color: #fff;
  font-family: ProximaSbold, sans-serif;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 26px;
  position: relative;
  padding: 0 28px 0 13px;
  word-spacing: 3px;
  &:hover {
    background: darken($color-grass, 10%);
  }
  &_purple {
    background: $color-jelly;
    &:hover {
      background: darken($color-jelly, 10%);
    }
  }
  &_xl {
    padding: 4px 40px 4px 17px;
    position: relative;
    font-size: 20px;
    @media (max-width: 1200px) {
      font-size: 18px;
    }
    .btn {
      &__icon {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__icon {
    position: absolute;
    right: 12px;
    top: 7px;
    width: 11px;
    height: 11px;
  }
  &__text {
    a {
      color: #fff;
    }
  }
}

.list {
  &__item {
    font-size: 21px;
    line-height: 30px;
    padding-left: 15px;
    position: relative;
    margin-bottom: 15px;
    &:before {
      content: '›';
      position: absolute;
      left: 0;
      top: -2px;
      font-weight: 800;
      color: $color-grass;
      font-size: 20px;
    }
  }
}

.section {
  margin-top: 130px;
  position: relative;
  > .top_slider_image,
  > .bottom_slider_image {
    width: 100%;
  }
  > .bottom_slider_image {
    position: relative;
    top: -2px;
  }
  &_slider_wrapper {
    background-color: #EFF1F4;
  }
  &_services {
    display: flex;
    flex-wrap: wrap;
  }
  &_service {
    padding: 0 20px;
    text-align: center;
    width: 33%;
    margin-bottom: 100px;

    h4 {
      color: $color-grass;
      font-family: ProximaBold, sans-serif;
      font-size: 20px;
      margin: 0;
    }

    p {
      font-size: 18px;
      line-height: 30px;
      margin: 0;
    }

    img {
      height: 110px;
      margin-bottom: 25px;
    }
  }
  &_padding {
    padding-top: 144px;
    margin-top: 0;
    background: linear-gradient(to bottom, #f8f8f6 0%, #f2f2f4 74%, #f2f2f4 75%, #fff 100%);
  }
  &_half-grey {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #f8f8f6 51%, #f8f8f6 100%);
  }
  &_grey {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #f8f8f6 51%, #f8f8f6 100%);
  }
  &_grey_bottom {
    margin-top: -250px;
    z-index: -1;
  }
  &_grey_bottom_wrapper {
    padding: 300px 0 30px;
    background-color: $color-purple;
  }
  &__heading {
    color: $color-royal;
    text-align: center;
    font-size: 40px;
    font-family: ProximaBold, sans-serif;
    margin-bottom: 15px;
    &_small {
      font-family: Proxima;
      max-width: 740px;
      margin: 0 auto;
    }
  }
  &__subheading {
    font-family: Proxima, sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-size: 21px;
    line-height: 40px;
    text-align: center;
    &_small {
      font-size: 18px;
    }
  }
  &__strong {
    font-weight: 800;
    font-family: ProximaBold;
    display: block;
    font-size: 24px;
    text-align: center;
    max-width: 900px;
    position: relative;
    line-height: 34px;
    margin: 0 auto 30px;
    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      margin-bottom: 10px;
      height: 10px;
      width: 35px;
      background: url('/images/svg/MOD-Website-Components-R1_3dots.svg') no-repeat;
    }
    &:after {
      position: absolute;
      content: '';
      background: url(../images/svg/MOD-Website-Components-R1_homepage-quote-icon.svg) no-repeat;
      width: 12%;
      top: -100px;
      right: -67px;
      height: 130px;
    }
  }
  &__rows {
    margin-top: 97px;
  }
  &__row {
    display: flex;
    margin: 0 auto 75px;
    max-width: 815px;

    &:nth-child(even) {
      flex-direction: row-reverse;
      .section__icon {
        margin-right: 0;
        margin-left: 50px;
      }
    }
  }
  &__col {

  }
  &__icon {
    margin-right: 50px;
  }
  &__title {
    text-transform: uppercase;
    color: $color-grass;
    font-family: ProximaBold;
    font-size: 21px;
  }
  &__text {
    font-family: Proxima;
    margin-top: 5px;
    p {
      margin-top: 0;
      line-height: 30px
    }
  }

  .person {
    &__image {
      padding-top: 100%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: top;
        object-fit: cover;
      }
    }
    &__name {
      text-transform: capitalize;
      margin: 10px 0 0;
      text-align: center;
      font-size: 18px;
    }
    &__position {
      text-transform: uppercase;
      text-align: center;
      opacity: .7;
      font-size: 16px;
    }
    &__social-share {
      overflow: hidden;
      text-align: center;
      margin-bottom: 12px;
      svg {
        width: 30px;
        fill: silver;

        &:hover {
          fill: #404b90;
          transition: all 0.3s ease;
        }
      }
    }
    &__description {
      p {
        margin: 0 0 5px;
      }
    }
  }
}

.blocks {
  &__col {
    position: relative;
  }
  &__row {
    display: flex;
    margin-bottom: 39px;
    &:nth-child(even) {
      flex-direction: row-reverse;
      .blocks {
        &__title {
          text-align: right;
        }
        &__image {
          margin-right: 50px;
          margin-left: 0;
        }
      }
    }
  }
  &__text {
    font-family: Proxima;
    p {
      line-height: 37px;
      font-size: 21px;
      margin-top: 15px;
    }
  }
  &__title {
    font-family: ProximaBold, sans-serif;
    margin: 22px 0 0;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 40px;

    &.normal {
      font-family: Proxima, sans-serif;
      font-weight: 400;
      text-transform: none;
    }
  }
  &__image {
    margin-left: 50px;
    width: 290px; //TODO: remove
    &_2 {
      width: 425px; //TODO: remove
    }
    &_3 {
      width: 305px; //TODO: remove
    }
  }
  &__list {
    margin-left: 20px;
    margin-top: 15px;
    p {
      position: relative;
      padding-left: 15px;
      font-size: 18px;
      margin: 0 0 10px;
      line-height: 30px;
      &:before {
        content: '›';
        color: $color-grass;
        position: absolute;
        left: 0;
        top: 1px;
        font-family: ProximaBold, sans-serif;
        font-size: 21px;
      }
    }
  }
}

@import 'base';
@import 'header';
@import 'helpers';
@import 'footer';
@import 'slider';
