//TODO: remove this styles start
.test-image-block {
  height: 490px;
  width: 250px;
  background: red;
  position: absolute;
  right: 20px;
}

//TODO: remove this styles end

$color-grass: #74c26c;
$color-royal: #3F4A8F;
$color-indigo: #2D3975;
$color-charcoal: #4B4B4B;
$color-purple: #EFF1F4;
$color-graymist: #E8E9EA;
$color-iceberg: #F7F8F9;
$color-jelly: #A81B8D;

@mixin fonts($font-name, $font-url) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('../fonts/#{$font-url}.ttf') format('truetype');
    font-style: normal;
    @content
  }
}

@include fonts(Proxima, ProximaNova-Reg){
  font-weight: 400;
}

@include fonts(ProximaSbold, ProximaNova-Sbold){
  font-weight: 600;
}

@include fonts(ProximaBold, ProximaNova-Bold){
  font-weight: 800;
}

* {
  outline: none;
  box-sizing: border-box;
}

body, html{
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  font-size: 18px;
  min-width: 320px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.flex-grow-1 {
  flex-grow: 1;
}

.container {
  max-width: 1210px;
  padding: 0 110px;
  margin: 0 auto;
  &_z-index {
    z-index: 5;
    position: relative;
  }
}

.h1 {
  color: #fff;
  font-size: 62px;
  margin: 10px 0;
  font-family: sans-serif;
}


.h3 {
  color: #fff;
  font-size: 27px;
  line-height: 45px;
}

.header {
  // background: url('../images/MOD-businessinfo-hero.png') bottom center;
  // min-height: 100vh;
  // background-size: cover;
  &__outer {
    position: relative;
  }
  &__image {
    img {
      width: 100%;
    }
  }
  &__btn {
    display: flex;
    justify-content: flex-end;
  }
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 33px;
  }
  &__menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__grid {
    display: flex;
    padding-top: 70px;
  }
  &__column {
    position: relative;
    padding-left: 10px;
  }
}

.menu {
  display: flex;
  &__item {
    position: relative;
    padding-left: 32px;
    font-family: Proxima, sans-serif;
    &:after {
      content: '';
      position: absolute;
      height: 12px;
      width: 1px;
      background: #fff;
      left: 15px;
      top: 4px;
    }
    &:first-child {
      &:after {
        display: none;
      }
    }
  }
  &__link {
    color: #fff;
  }
}

.logo {
  width: 200px;
  height: 50px;
  background: #ccc;
}

.btn {
  font-weight: 600;
  border: none;
  text-decoration: none;
  border-radius: 20px;
  background: $color-grass;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 27px;
  position: relative;
  letter-spacing: -1px;
  padding: 0 31px 0 13px;
  word-spacing: 3px;
  &:hover {
    background: darken($color-grass, 10%);
  }
  &_purple {
    background: $color-jelly;
    &:hover {
      background: darken($color-jelly, 10%);
    }
  }
  &_xl {
    padding: 4px 40px 4px 17px;
    position: relative;
    font-size: 20px;
    top: 6px;
    left: 12px;
    .btn {
      &__icon {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__icon {
    position: absolute;
    right: 11px;
    top: 9px;
    width: 11px;
    height: 11px;
    background: red;
  }
}

.section {
  margin-top: 144px;
  position: relative;
  &_padding {
    padding-top: 144px;
    margin-top: 0;
    background: linear-gradient(to bottom, #f8f8f6 0%, #f2f2f4 74%, #f2f2f4 75%, #fff 100%);
  }
  &_half-grey {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #f8f8f6 51%, #f8f8f6 100%);
  }
  &__heading {
    color: $color-royal;
    text-align: center;
    font-size: 41px;
    font-family: ProximaBold, sans-serif;
    margin-bottom: 15px;
  }
  &__subheading {
    font-family: Proxima, sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-size: 21px;
    line-height: 33px;
    text-align: center;
  }
  &__rows {
    margin-top: 97px;
  }
  &__row {
    display: flex;
    margin: 0 auto 75px;
    max-width: 815px;

    &:nth-child(even) {
      flex-direction: row-reverse;
      .section__icon {
        margin-right: 0;
        margin-left: 50px;
      }
    }
  }
  &__col {

  }
  &__icon {
    margin-right: 50px;
  }
  &__title {
    text-transform: uppercase;
    color: $color-grass;
    font-family: ProximaBold;
    font-size: 21px;
  }
  &__text {
    font-family: Proxima;
    margin-top: 5px;
    p {
      margin-top: 0;
      line-height: 30px
    }
  }
}

.blocks {
  &__row {
    display: flex;
    margin-bottom: 39px;
    &_inverse {
      flex-direction: row-reverse;
      .blocks {
        &__title {
          text-align: right;
        }
      }
    }
  }
  &__text {
    font-family: Proxima;
    p {
      line-height: 37px;
      font-size: 21px;
      margin-top: 15px;
    }
  }
  &__title {
    font-family: ProximaBold;
    margin: 22px 0 0;
    font-size: 24px;
  }
  &__image {
    margin-left: 50px;
    width: 290px; //TODO: remove
    &_2 {
      width: 425px; //TODO: remove
    }
    &_3 {
      width: 305px; //TODO: remove
    }
  }
}

/*HELPER CLASSES*/

.w-100 {
  width: 100%;
}

.w-120 {
  width: 120px;
}

.w-150 {
  width: 150px;
}

.mr-20 {
  margin-right: 20px!important;
}

/* HELPER CLASSES END*/


/*IMG CLASSES*/

.partners-image {
  margin-bottom: 50px;
  margin-top: 50px;
}

.img-hexagon {
  max-width: 886px;
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 0;
  opacity: 0.7;
}

/*IMG CLASSES END*/
