@@include('include/head.html')
<div class="page-wrapper">
  <header class="header">
    @@include('include/header.html', {
    "image": "/images/MOD-businessinfo-hero.png",
    "phoneImage": false,
    "title": "Connect people to your content",
    "description": "Information overload makes it almost impossible for people to find content that matters to them. ModuleQ powers personalization of your content at scale. We drive audience engagement and content content consumption, facilitate sharing, and capture behavioral data insights so you clearly understand the value — and revenue — you’re creating.",
    "btnTest": "watch the video",
    "onlyMenu": false,
    "activeMenu": "business"
    })
  </header>

  <section class="section">
    <div class="container">
      <h2 class="section__heading p-relative">
        Extending reach, increasing revenue
        <img src="/images/svg/as_you_refine_everyone_gains_insights_2.svg" alt="" class="img-refine">
      </h2>
      <h4 class="section__subheading">
        Providers of high-value business content are often valued by information professionals such as researchers and
        librarians.
        We directly connect content providers with hard-to-reach front line professionals, who need that content — a connection that builds
        mutual trust.
        </br>
        </br>
        With ModuleQ, information providers can serve their content on enterprise systems (such as Office 365) where
        they actually work. Driving incremental content consumption drives revenue.
      </h4>
      <div class="col-50 p-relative">
        <div class="img-extenging">
          <img src="/images/svg/MOD-Website-Components-R1_hexagonpattern.svg" alt="">
        </div>
      </div>
      <div class="business-image">
        <img src="/images/svg/extending_reach_increasing_revenue_3.svg" alt="">
      </div>
    </div>
  </section>

  <section class="section section_slider">
    <img class="top_slider_image" src="/images/svg/top.svg" alt="">
    <div class="section_slider_wrapper">
      <div class="container">
        <div class="j-slider slider">
          <div class="slider__item">
            <p>According to Forrester, intelligent agents in 2018 will strengthen their influence on professionals,
              pressuring brands to engage through “intelligent agent cocoons” that focus the professional.</p>
          </div>
          <div class="slider__item">
            <p>Many companies will “lack expertise in the lingua franca of intelligent agents,” according to Forrester.
              “It is like not understanding search – but with far greater consequences” to your business.</p>
          </div>
          <div class="slider__item">
            <p>Based on over 10 years of PhD research, ModuleQ provides Business Information Providers with a
              game-changing white labeled, intelligent agent platform that works where professionals already work.</p>
          </div>
          <div class="slider__item">
            <p>Fully brand Your bot - ModuleQ can be white-labeled in your environment.</p>
          </div>
        </div>
      </div>
    </div>
    <img class="bottom_slider_image" src="/images/svg/bottom.svg" alt="">
  </section>

  <section class="section">
    <div class="container">
      <h2 class="section__heading">The Future of Accessing Information </h2>
      <h4 class="section__subheading p-relative">
        In the past, you had to search for information. With an AI assistant, information comes to you.
        As business information providers, AI gives you have a chance to reach larger audiences through new channels.
        You can integrate your content seamlessly in the systems where work gets done. It’s easier to reach your
        audience and engage them with timely, personalized content.
        <div class="img-accessing">
          <img src="/images/svg/MOD-Website-Components-R1_hexagonpattern.svg" alt="">
        </div>
      </h4>
      <div class="section__rows mt-60">
        <div class="section__row">
          <div class="section__col">
            <div class="section__icon w-240 mr-20 img-future">
              <img src="/images/svg/future_accessing_information_.svg" alt="#">
            </div>
          </div>
          <div class="section__col">
            <ul class="list">
              <li class="list__item">White label ModuleQ to expand the reach of your content.</li>
              <li class="list__item">AI predictively delivers your content to most valuable users, even creating value
                for underutilized content.
              </li>
              <li class="list__item">Timeliness of content, without even asking, delights users.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container text-center">
      <strong class="section__strong">See what ModuleQ can do for your organization. </strong>
      <button class="btn btn_purple btn_xl">
        <span class="btn__text"><a href="mailto:info@moduleq.com?subject=Schedule a demo">Schedule a demo</a></span>
        <img class="btn__icon" src="/images/svg/play-circle.svg" alt="">
      </button>
    </div>

    <div class="img-footer-patern">
      <img src="/images/svg/MOD-Website-Components-R1_footer%20pattern.svg" alt="">
    </div>
  </section>

  <div class="footer">
    @@include('include/footer.html')
  </div>
</div>

@@include('include/script.html')
