@@include('include/head.html')
<div class="page-wrapper">
  <header class="header">
    @@include('include/header.html', {
    "image": "/images/MOD-company-hero.png",
    "phoneImage": false,
    "title": "Our Mission",
    "description": "ModuleQ amplifies the creativity of people and <br> their organizations through applied artificial intelligence.",
    "btnTest": "watch the video",
    "onlyMenu": false,
    "activeMenu": "company"
    })
  </header>

  <section class="section section_grey_bottom">
    <div class="section_grey_bottom_wrapper">
      <div class="container">
        <h2 class="section__heading">We are committed to:</h2>
        <div class="section__subheading">
          <p class="m-0">Creating technology that respects and enables our customers</p>
          <p class="m-0">Reducing the effort that people expend on routine activities</p>
          <p class="m-0">Honoring privacy as a prerequisite for creativity and innovation</p>
          <p class="m-0">Algorithmic transparency: you don’t have to just <em>trust us</em></p>
        </div>
      </div>
    </div>
    <img class="bottom_slider_image" src="/images/svg/bottom.svg" alt="">
  </section>

  <section class="section">
    <div class="container">
      <h2 class="section__heading">Personal Data Fusion™</h2>
      <h4 class="section__subheading">The Internet made information available and now smartphones bring that information
        to the palm of our hands. An ever-growing selection of apps and platforms connect us to data streams of all
        kinds. These technologies enable individual professionals to accomplish more than ever before, but they also
        expose our limits: we can only process so much information before it overwhelms us and information overload sets
        in.</h4>
      <h4 class="section__subheading">
        Computers created information overload but they can also solve it, by using intelligent algorithms to distill
        and condense data into more concentrated, meaningful and useful forms. For example, the meetings, emails, social
        media connections, contact information and news articles related to a particular project are automatically
        grouped together and organized, so the information you need is easy to find. ModuleQ calls this
        distillation process <a target="_blank"
                                href="https://moduleq.com/personal-data-fusion-and-the-end-of-information-overload/"><strong>Personal
        Data
        Fusion™</strong></a>.
      </h4>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="section__heading">We are ModuleQ</h2>
      <div class="row">
        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/David%20Brunner.jpg" alt="">
          </div>
          <h3 class="person__name">David Brunner</h3>
          <p class="person__position">FOUNDER & CEO</p>
          <div class="person__social-share">
            <a href="https://twitter.com/davidjbrunner" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
            <a href="mailto:djb@moduleq.com" target="_blank">
              <svg viewBox="0 0 216 216">
                <use xlink:href="#gmail"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/davidjamesbrunner" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#linkedin"></use>
              </svg>
            </a>
          </div>

          <div class="person__description">
            <p>PhD ITM <strong>Harvard</strong></p>
            <p>Associate <strong>BCG</strong></p>
            <p>BS Computer Science <strong>Stanford</strong></p>
          </div>
        </div>

        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/Anupriya_ModuleQ_About.jpeg" alt="">
          </div>
          <h3 class="person__name">Anupriya Ankolekar</h3>
          <p class="person__position">CO-FOUNDER, PRINCIPAL SCIENTIST</p>
          <div class="person__social-share">
            <a href="mailto:anupriya@moduleq.com" target="_blank">
              <svg viewBox="0 0 216 216">
                <use xlink:href="#gmail"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/anupriya-ankolekar-5705191" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#linkedin"></use>
              </svg>
            </a>
          </div>

          <div class="person__description">
            <p>Principal Research Scientist <strong>Hewlett-Packard Laboratories</strong></p>
            <p>PhD HCI <strong>Carnegie Mellon</strong></p>
          </div>
        </div>

        <div class="col-33 padding-15 person">
        <div class="person__image">
          <img src="/images/company/Norman%20Tsang.jpg" alt="">
        </div>
        <h3 class="person__name">Norman Tsang</h3>
        <p class="person__position">CFO</p>
        <div class="person__social-share">
          <a href="mailto:norman@moduleq.com" target="_blank">
            <svg viewBox="0 0 216 216">
              <use xlink:href="#gmail"></use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/norman-tsang-845a5b/" target="_blank">
            <svg viewBox="0 0 49.652 49.652">
              <use xlink:href="#linkedin"></use>
            </svg>
          </a>
        </div>

        <div class="person__description">
          <p style="text-align: left;">Managing Partner/CFO <strong>Alerion Partners</strong><br>Board Director/COO
            (Interim) <strong>Enso</strong> <strong>Financial Analytics</strong><br><strong>McKinsey</strong>,
            <strong>IBM</strong>, <strong>Citigroup</strong></p>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/SherryHarmon_CRO_ModuleQ.jpeg" alt="">
          </div>
          <h3 class="person__name">Sherry Harmon</h3>
          <p class="person__position">CRO</p>
          <div class="person__social-share">
            <a href="https://twitter.com/thesherryharmon" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
            <a href="mailto:sherry@moduleq.com" target="_blank">
              <svg viewBox="0 0 216 216">
                <use xlink:href="#gmail"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/sherryharmon" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#linkedin"></use>
              </svg>
            </a>
          </div>

          <div class="person__description">
            <p>VP Sales <strong>WebEx, Autonomy, SupportSoft</strong></p>
            <p>President <strong>NextNine</strong> (acquired by <strong>Honeywell</strong>)</p>
          </div>
        </div>

        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/Ryan_Headshot_Edited.jpg" alt="">
          </div>
          <h3 class="person__name">Ryan Curd</h3>
          <p class="person__position">Director of Engineering</p>
          <div class="person__social-share">
            <a href="mailto:ryan@moduleq.com" target="_blank">
              <svg viewBox="0 0 216 216">
                <use xlink:href="#gmail"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/ryan-curd/" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#linkedin"></use>
              </svg>
            </a>
          </div>

          <div class="person__description">
            <p>Product Owner <strong>Unisys</strong></p>
            <p>BS Computer Science <strong>University of Minnesota</strong></p>
          </div>
        </div>

        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/pieter-franken.png" alt="">
          </div>
          <h3 class="person__name">Pieter Franken</h3>
          <p class="person__position">Distinguished Engineer</p>
          <div class="person__social-share">
            <a href="https://twitter.com/noktonlux" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/pbfranken" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#linkedin"></use>
              </svg>
            </a>
          </div>

          <div class="person__description">
            <p>Executive Director <strong>Monex Group</strong></p>
            <p>Co-founder <strong>SAFECAST</strong></p>
            <p>Affiliate Researcher <strong>MIT Media Lab</strong></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="section__heading">Our Board Members & Advisors</h2>
      <div class="row">
        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/Ethan%20Bernstein.jpg" alt="">
          </div>
          <h3 class="person__name">Ethan Bernstein</h3>
          <p class="person__position">DIRECTOR</p>
          <div class="person__social-share">
            <a href="https://twitter.com/ethanbernstein" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/ethanbernstein" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#linkedin"></use>
              </svg>
            </a>
          </div>

          <div class="person__description">
            <p>Assistant Professor <strong>HBS</strong></p>
            <p>Author, <strong><a href="https://hbr.org/2014/10/the-transparency-trap/ar/1" target="_blank">“The
              Transparency Trap”</a></strong> <em>Harvard Business Review</em></p>
          </div>
        </div>

        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/Marco%20Iansiti.jpg" alt="">
          </div>
          <h3 class="person__name">Marco Iansiti</h3>
          <p class="person__position">DIRECTOR</p>
          <div class="person__social-share">
            <a href="https://twitter.com/marcoiansiti" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/marcoiansiti" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#linkedin"></use>
              </svg>
            </a>
          </div>

          <div class="person__description">
            <p>Professor & Unit Head, Technology & Operations Management <strong>HBS</strong></p>
            <p>Co-founder & Director <strong>Model N</strong> (NASDAQ: MODN)</p>
          </div>
        </div>

        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/Atsushi%20Taira%20-%20rectangle.JPG" alt="">
          </div>
          <h3 class="person__name">Atsushi Taira</h3>
          <p class="person__position">DIRECTOR</p>
          <div class="person__social-share">
            <a href="https://twitter.com/ataira?lang=en" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/atsushitaira/" target="_blank">
              <svg viewBox="0 0 49.652 49.652">
                <use xlink:href="#linkedin"></use>
              </svg>
            </a>
          </div>

          <div class="person__description">
            <p>Representative Director, <strong>Mistletoe</strong></p>
            <p>SVP Global Business Strategy, <strong>SoftBank</strong></p>
            <p>Chief&nbsp;Marketing Officer, <strong>Yahoo! Japan</strong></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/img_bio_fred_amoroso.png" alt="">
          </div>
          <h3 class="person__name">Fred Amoroso</h3>
          <p class="person__position">Senior Advisor</p>

          <div class="person__description">
            <p>Chairman <strong>Yahoo</strong></p>
            <p>President & CEO <strong>Rovi</strong></p>
            <p>President & CEO <strong>CrossWorlds Software</strong></p>
          </div>
        </div>

        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/Joe-Rhyne.png" alt="">
          </div>
          <h3 class="person__name">Joseph Rhyne</h3>
          <p class="person__position">Senior Advisor</p>
          <div class="person__description">
            <p>Technology Management Faculty <strong>Columbia University</strong></p>
            <p>SVP Technology <strong>Thomson</strong></p>
            <p>VP & General Manager <strong>(Nexix) </strong> LexisNexis</p>
          </div>
        </div>

        <div class="col-33 padding-15 person">
          <div class="person__image">
            <img src="/images/company/Leslie-Paulides.png" alt="">
          </div>
          <h3 class="person__name">Leslie Paulides</h3>
          <p class="person__position">Senior Advisor</p>

          <div class="person__description">
            <p>VP Business Operations <strong>Barracuda Networks</strong></p>
            <p>VP Finance & Corp. Controller <strong>NetApp, Inc</strong></p>
            <p>Director of WW Sales Operations <strong>Quantum Corporation</strong></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="section__heading">Privacy is our Priority</h2>
      <p><strong><a
        href="https://medium.com/harvard-business-school-digital-initiative/big-brother-vs-personal-data-fusion-why-the-personal-is-so-important-dabc66bc7f3e#.ia2jhn15j">Personal
        Data Fusion™ is not Big Brother.</a></strong></p>
      <p>Our mission is to support you in your work. ModuleQ’s Personal Data Fusion™ was designed to be helpful while
        respecting your individual creativity.</p>
      <p><strong>We Believe in Personal Space</strong></p>
      <p>To be a successful professional you need personal space where you can innovate and experiment. Second-guessing
        and back-seat drivers are distracting. We want to ensure that nothing will slow you down.</p>
      <p><strong>You Control Your Data</strong></p>
      <p>You decide when to share your work. We compile metrics so you can enhance your performance but you decide the
        share anything. We don’t share the details of your work without your permission. Your data is private. There are
        exceptional cases: ModuleQ complies with valid subpoenas and search warrants.</p>
      <p><strong>Collaborate without Losing Personal Privacy</strong></p>
      <p>To help your team understand what’s happening, we’ve developed summary activity metrics, but those are always
        aggregated and anonymized so nothing can be traced back to you.</p>
      <p><strong>We Stand with You</strong></p>
      <p>We will never sell your information to advertisers.</p>
      <p><strong>Our solution is hosted on <a href="https://www.microsoft.com/en-us/trustcenter/Security/default.aspx"
                                              target="_blank" rel="noopener noreferrer">Azure</a>.</strong></p>
    </div>
  </section>

  <section class="section container_z-index">
    <div class="container text-center">
      <strong class="section__strong">See what ModuleQ can do for your organization.</strong>
      <button class="btn btn_purple btn_xl">
        <span class="btn__text">Schedule a demo</span>
        <img class="btn__icon" src="/images/svg/play-circle.svg" alt="">
      </button>
    </div>

    <div class="img-footer-patern">
      <img src="/images/svg/MOD-Website-Components-R1_footer%20pattern.svg" alt="">
    </div>
  </section>

  <div class="footer container_z-index">
    @@include('include/footer.html')
  </div>
</div>

@@include('include/script.html')
