@@include('include/head.html')

<header class="header">
    @@include('include/header.html')
</header>

<section class="section">
    <div class="container">
        <h2 class="section__heading">The AI Assistant for Your Work Life</h2>
        <h4 class="section__subheading">ModuleQ is like a brilliant research assistant that connects the dots in your
            work data. We tap into the
            largest databases, the latest news, and even your company’s internal content. With our People-Facing AI
            insights, everybody works smarter and faster.</h4>
        <div class="section__rows">
            <div class="section__row">
                <div class="section__col">
                    <div class="section__icon">
                        <img src="./images/svg/MOD-Website-Components-R1_homepage-AI-Pro.svg" width="100px" alt="">
                    </div>
                </div>
                <div class="section__col">
                    <strong class="section__title">FOR PROFESSIONALS:</strong>
                    <div class="section__text">
                        <p>High-value insights from <strong>People-Facing AI</strong> — when you need them, where
                            you want them — keep you one step ahead. You also avoid being
                            blind-sided with information you should have known, but didn’t see.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('include/footer.html')

@@include('include/script.html')
