@@include('include/head.html')
<div class="page-wrapper">
  <header class="header">
    @@include('include/header.html', {
    "image": "./images/MOD-homepage-hero.png",
    "phoneImage": true,
    "title": "Business Answers, </br> Before You Ask",
    "description": "With ModuleQ’s People-Facing AI insights, </br> you don’t need to find critical information.</br> It finds you.",
    "btnTest": "find out how",
    "onlyMenu": false,
    "activeMenu": "home"
    })
  </header>

  <section class="section">
    <div class="container">
      <h2 class="section__heading">The AI Assistant for Your Work Life</h2>
      <h4 class="section__subheading">ModuleQ is like a brilliant research assistant that connects the dots in your work data.
        We tap into the largest databases, the latest news, and even your company’s internal content. With our <strong>People-Facing AI</strong>, everybody works smarter and faster.</h4>
      <div class="section__rows">
        <div class="section__row">
          <div class="section__col">
            <div class="section__icon w-120">
              <img src="/images/svg/MOD-Website-Components-R1_homepage-AI-Pro.svg" alt="">
            </div>
          </div>
          <div class="section__col">
            <strong class="section__title">FOR PROFESSIONALS:</strong>
            <div class="section__text">
              <p>High-value insights from <strong>People-Facing AI</strong> — when you need them, where
                you want them — keep you one step ahead. You also avoid being
                blind-sided with information you should have known, but didn’t see.</p>
            </div>
          </div>
        </div>
        <div class="section__row section__row_reverse">
          <div class="section__col">
            <div class="section__icon w-150 mr-20">
              <img src="/images/svg/MOD-Website-Components-R1_homepage-AI-Enterprise.svg" alt="#">
            </div>
          </div>
          <div class="section__col">
            <strong class="section__title">FOR ENTERPRISES:</strong>
            <div class="section__text">
              <p>Your people are more productive and profitable because they don’t waste
                time and effort searching for information. ModuleQ’s <strong>People-Facing AI</strong> understands their priorities and proactively delivers insights.</p>
            </div>
          </div>
        </div>
        <div class="section__row">
          <div class="section__col">
            <div class="section__icon w-120">
              <img src="/images/svg/MOD-Website-Components-R1_homepage-AI-InfoProviders.svg" alt="">
            </div>
          </div>
          <div class="section__col">
            <strong class="section__title">FOR INFORMATION PROVIDERS:</strong>
            <div class="section__text">
              <p>You can generate incremental revenue as you automatically reach front-line professionals with truly useful content based on their current personalized needs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="section__heading">How It Works</h2>
      <div class="blocks">
        <div class="blocks__row">
          <div class="blocks__col">
            <div class="img-understand-work">
              <img src="/images/svg/MOD-Website-Components-R1_hexagonpattern.svg" alt="">
            </div>
            <div class="blocks__text">
              <h5 class="blocks__title img-hp-step1">STEP 1: WE UNDERSTAND YOUR WORK.</h5>
              <p>You are inundated by work data — email, calendars, stored
                documents, industry reports, and breaking news. With your consent,
                ModuleQ’s <strong>People-Facing AI</strong> creates a network of intelligence in
                your existing workspace to identify your priorities. As we connect the
                dots in work data, we put powerful insights at our fingertips, before
                you even ask. We adapt to your preferences and feedback to drive
                timely, insightful information with remarkable predictive accuracy.
              </p>
            </div>
          </div>
          <div class="blocks__col">
            <div class="blocks__image">
              <img src="/images/svg/we_understand_your_work.svg" alt="">
            </div>
          </div>
        </div>
        <div class="blocks__row blocks__row_reverse">
          <div class="blocks__col">
            <div class="img-valuable-content">
              <img src="/images/svg/MOD-Website-Components-R1_hexagonpattern.svg" alt="">
            </div>
            <div class="blocks__text">
              <h5 class="blocks__title">STEP 2: WE DELIVER VALUABLE CONTENT.</h5>
              <p>ModuleQ’s proprietary algorithms search public and
                internal information, as well as, business intelligence
                from partners such as Thomson Reuters. Our
                <strong>People-facing AI</strong> analyzes your work priorities and
                timing issues and eliminates the noise and distracting
                information. You can easily share this
                information with your colleagues.
              </p>
            </div>
          </div>
          <div class="blocks__col">
            <div class="blocks__image blocks__image_2">
              <img src="/images/we_deliver_valuable_content.png" alt="">
            </div>
          </div>
        </div>
        <div class="blocks__row">
          <div class="blocks__col">
            <div class="blocks__text">
              <h5 class="blocks__title">STEP 3: Learns what works.</h5>
              <p>As you provide feedback on what works and what doesn’t, our
                <strong>People-Facing AI</strong> improves its ability to deliver only the most relevant information.
                ModuleQ aggregates the way you and your colleagues use insights so your organization can accelerate
                learning across the enterprise. Everyone stays in the know on trends,
                leverages consistent information, and works more effectively.
              </p>
            </div>
          </div>
          <div class="blocks__col">
            <div class="blocks__image blocks__image_3">
              <img src="/images/svg/as_you_refine_everyone_gains_insights.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section_half-grey">
    <img src="/images/MOD-homepage-fillerphoto.png" class="w-100" alt="">

    <img src="/images/svg/MOD-Website-Components-R1_hexagonpattern.svg" alt="" class="img-hexagon">
  </section>

  <section class="section section_padding">
    <div class="container container_z-index">
      <h2 class="section__heading">Partners</h2>
      <div class="partners-image">
        <img src="/images/svg/partners.svg" alt="">
      </div>
      <h4 class="section__subheading">We are adding new data sources and channels all the time.
        ModuleQ is excited to highlight our partnership with Microsoft to deliver these insights to you via Microsoft O365 and Microsoft Teams.
        We are also excited to highlight our partnership with Thomson Reuters to bring great content and leverage their unique Knowledge Graph technology.
        And we are adding new data sources and channels all the time. </h4>
    </div>
    <div class="partners-image">
      <img src="/images/svg/MOD-Website-Components-R1_homepage-gray-with-green-angle.svg" alt="">
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="section__heading section__heading_small">“If only HP knew what HP knows, we
        would be three times more productive.”</h2>
      <h4 class="section__subheading section__subheading_small">Lew Platt, former chief executive of Hewlett-Packard</h4>
    </div>
  </section>

  <section class="section">
    <div class="container text-center">
      <strong class="section__strong">With ModuleQ’s artificial intelligence, there’s no excuse for not knowing what you should know.  Contact us to learn how to implement Q in your organization.</strong>
      <button class="btn btn_purple btn_xl">
        <span class="btn__text"><a href="mailto:info@moduleq.com?subject=ModuleQ inquiry" class="menu__link">Contact us</a></span>
        <img class="btn__icon" src="/images/svg/play-circle.svg" alt="">
      </button>
    </div>

    <div class="img-footer-patern">
      <img src="/images/svg/MOD-Website-Components-R1_footer%20pattern.svg" alt="">
    </div>
  </section>

  <div class="footer">
    @@include('include/footer.html')
  </div>
</div>

@@include('include/script.html')
