@@include('include/head.html')
<div class="page-wrapper">
  <header class="header">
    @@include('include/header.html', {
    "onlyMenu": true,
    "activeMenu": "privacy"
    })
  </header>

  <section class="section">
    <div class="container">
      <h2 class="section__heading">MODULEQ PRIVACY POLICY</h2>
      <p><strong>Last Updated: </strong>February 28, 2017</p>
      <p>This privacy policy explains how information about you is collected, used and disclosed by ModuleQ, Inc.
        (“<strong>ModuleQ</strong>,” “<strong>we</strong>” or “<strong>us</strong>”) when you use our website, bot, and
        other online products and services that link to this privacy policy (collectively, the
        “<strong>Services</strong>”) or when you otherwise interact with us.</p>
      <p>We may change this privacy policy from time to time. If we make changes, we will notify you by revising the
        date at the top of the policy and, in some cases, we may provide you with additional notice (such as adding a
        statement to our homepage or sending you an email notification). We encourage you to review the privacy policy
        whenever you access or use the Services to stay informed about our information practices and the ways you can
        help protect your privacy.</p>
      <p><strong>COLLECTION OF INFORMATION </strong></p>
      <p><strong>Information You Provide to Us</strong></p>
      <p>We collect information you provide directly to us. For example, we collect information when you create an
        account, participate in interactive features of the Services, communicate with us via third party social media
        sites, request customer support, provide feedback, forward email messages to the Services, or otherwise
        communicate with us. The types of information we may collect include your name, email address, and any other
        information you choose to provide.</p>
      <p><strong>Information We Collect Automatically When You Use the Services </strong></p>
      <p>When you access or use the Services, we automatically collect information about you, including as follows:</p>
      <ul>
        <li><strong>Log Information:</strong> We log information about your use of the Services. For Services provided
          via our website, the information may include the type and language of browser you use, the access times, pages
          viewed, links clicked, your IP address, your Internet Services provider (ISP) and the pages you visited before
          and after navigating to the Services. For Services provided via our mobile applications, the information may
          include the times you used the Services and actions taken.
        </li>
        <li><strong>Device Information: </strong>We collect information about the device you use to access the Services,
          including the operating system and version, hardware model and mobile network information.
        </li>
        <li><strong>Location Information:</strong> We may collect information about the location of your device when you
          access the Services or otherwise consent to the collection of this information.
        </li>
        <li><strong>Information Collected by Cookies and Other Tracking Technologies:</strong> We use various
          technologies to collect information, and this may include sending cookies to your computer or internet-enabled
          device. Cookies are small data files stored on your hard drive or in device memory that help us to improve the
          Services, analyze which areas and features of the Services are popular and count visits. We may also collect
          information using web beacons (also known as “tracking pixels” or “clear GIFs”). Web beacons are electronic
          images that may be used in the Services or an email and help deliver cookies, count visits, understand usage
          and campaign effectiveness and determine whether an email has been opened and acted upon. Most web browsers
          are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or
          reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the
          availability and functionality of the Services.
        </li>
      </ul>
      <p><strong>Information We Collect From Other Sources</strong></p>
      <p>We may also obtain information from other sources and combine that with information we collect through the
        Services.&nbsp; For example, if you choose to connect your ModuleQ account with your account on a social media
        site, we will have access to certain information from that site, such as your name, account information and
        friends or contacts lists, in accordance with the authorization procedures determined by such social media site.
        ModuleQ also may receive information about you from our other users, for example when another user uploads,
        accesses or stores your contact information through the Services or enters your email address to invite you to
        use the Services.</p>
      <p><strong>USE OF INFORMATION</strong></p>
      <p>We may use information that we collect or receive about you for various purposes, including to:</p>
      <ul>
        <li>Provide, deliver, maintain and improve the Services;</li>
        <li>Respond to your comments, questions and requests, and to provide customer service;</li>
        <li>Send you technical notices, updates, security alerts and support and administrative messages;</li>
        <li>Communicate with you about products, services, offers, promotions, rewards and events offered by us and
          others, and provide news and information we think will be of interest to you;
        </li>
        <li>Personalize and improve the Services and provide content or features that match user profiles or
          interests;
        </li>
        <li>Monitor and analyze trends, usage and activities in connection with the Services; and</li>
        <li>Carry out any other purpose for which the information was collected.</li>
      </ul>
      <p>We are based in the United States, and the information we collect is governed by U.S. law. By accessing or
        using the Services or otherwise providing information to us, you consent to the processing and transfer of
        information in and to the U.S. and other countries.</p>
      <p><strong>SHARING OF INFORMATION</strong></p>
      <p>We may share or transfer information we collect or receive about you as follows or as otherwise described in
        this privacy policy:</p>
      <ul>
        <li>With service providers who need access to such information to carry out work on our behalf;</li>
        <li>In response to a request for information if we believe disclosure is in accordance with applicable law,
          regulation or legal process, or as otherwise required by law, rule or regulation;
        </li>
        <li>If we believe your actions are inconsistent with the spirit or language of our terms of service or other
          user agreements or policies, or to protect the rights, property and safety of us or others;
        </li>
        <li>In connection with, or during negotiations of, any merger, sale of company assets, financing,
          reorganization, or acquisition of all or a portion of our business to another company; and
        </li>
        <li>With your consent or at your direction, including if we notify you through the Services that the information
          you provide will be shared in a particular manner and you provide such information.
        </li>
      </ul>
      <p>We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.</p>
      <p><strong>SOCIAL SHARING FEATURES</strong></p>
      <p>The Services may offer social sharing features and other integrated tools that let you share actions you take
        on the Services with other media, and vice versa.&nbsp;&nbsp; The use of these features enables the sharing of
        information with your friends or the public, depending on the settings you establish with the entity that
        provides the social sharing feature or integrated tools.&nbsp; For more information about the purpose and scope
        of data collection and processing in connection with social sharing features or integrated tools, please visit
        the privacy policies of the companies that provide these features or tools.</p>
      <p><strong>ANALYTICS </strong></p>
      <p>We may allow others to provide analytics services in connection with the Services. These entities may use
        cookies, web beacons and other technologies to collect information about your use of our website, including your
        IP address, web browser, pages viewed, time spent on pages, search data and links clicked and conversion
        information. This information may be used by us and others to, among other things, analyze and track data,
        determine the popularity of certain content, deliver advertising and content targeted to your interests on the
        Services and better understand your online activity.</p>
      <p><strong>SECURITY</strong></p>
      <p>We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized
        access, disclosure, alteration and destruction.</p>
      <p><strong>YOUR CHOICES</strong></p>
      <p><strong>Account Information</strong></p>
      <p>You may request that we update, correct or delete your account information about you at any time by contacting
        us at &lt;moduleq@moduleq.com&gt;. Note that we may retain certain information as required by law or for
        legitimate business purposes. We may also retain cached or archived copies of information about you for a
        certain period.</p>
      <p><strong>Cookies</strong></p>
      <p>Most web browsers are set to accept cookies by default.&nbsp; If you prefer, you can usually choose to set your
        browser to remove or reject browser cookies. Removing or rejecting browser cookies does not necessarily affect
        third party flash cookies used in connection with the Services. To delete or disable flash cookies please visit
        <a href="http://www.adobe.com/products/flashplayer/security">www.adobe.com/products/flashplayer/security</a> for
        more information. Please note that if you choose to remove or reject cookies, this could affect the availability
        and functionality of the Services.</p>
      <p><strong>Promotional Communications</strong></p>
      <p>You may opt out of receiving promotional communications from us by following the instructions in those
        communications. If you opt out, we may still send you non-promotional communications, such as those about your
        account or our ongoing business relations.</p>
      <p><strong>Push Notifications</strong></p>
      <p>With your consent, we may send push notifications or alerts to your device.&nbsp; You can deactivate these
        messages at any time by updating your profile settings in the Services.</p>
      <p><strong>Microsoft Bot Framework</strong></p>
      <p>ModuleQ is enabled by Microsoft Bot Framework. The Microsoft Bot Framework is a set of web-services that enable
        intelligent services and connections using conversation channels you authorize. As a service provider, Microsoft
        will transmit content you provide to our bot/service in order to enable the service. For more information about
        Microsoft privacy policies please see their privacy statement here:
        http://go.microsoft.com/fwlink/?LinkId=521839. In addition, your interactions with this bot/service are also
        subject to the conversational channel’s applicable terms of use, privacy and data collection policies. To report
        abuse when using a bot that uses the Microsoft Bot Framework to Microsoft, please visit the Microsoft Bot
        Framework website at https://www.botframework.com and use the “Report Abuse” link in the menu to contact
        Microsoft.</p>
      <p><strong>CONTACT US</strong></p>
      <p>If you have any questions about this privacy policy, please contact us at &lt;moduleq@moduleq.com&gt;.</p>
    </div>
  </section>

  <div class="footer">
    @@include('include/footer.html')
  </div>
</div>

@@include('include/script.html')
