@@include('include/head.html')
<div class="page-wrapper">
  <header class="header">
    @@include('include/header.html', {
    "image": "/images/MOD-product-hero.png",
    "phoneImage": false,
    "title": "We Work Where You Do",
    "description": "ModuleQ anticipates your needs with our proprietary algorithms that understand both how you work and your ever-changing priorities. With our timely relevant insights, you can work smarter and focus more on what you do with the information rather than finding it.",
    "btnTest": "Set Up Demo",
    "onlyMenu": false,
    "activeMenu": "product"
    })
  </header>

  <section class="section">
    <div class="people-facing">
      <img src="/images/svg/MOD-Website-Components-R1_triangle pattern.svg" alt="">
      <img src="/images/svg/MOD-Website-Components-R1_productpage-square-graphic.svg" alt="">
    </div>
    <div class="container container_z-index">
      <h2 class="section__heading">ModuleQ People-Facing AI</h2>
      <div class="partners-image">
        <img src="/images/svg/MOD-Website-Components-R1_productpage-process-graphic.svg" alt="">
      </div>
      <h4 class="section__subheading">ModuleQ’s <strong>People-Facing AI</strong> delivers the right information, before
        asking, to people and teams: removing research burdens and increasing decision velocity. ModuleQ connects the
        dots for you, yielding key business insights distilled from your data (calendars, email, social, etc.), internal
        business data (proposals, reports, memos, etc.), and external business data (news and subscriptions). </h4>
    </div>
  </section>

  <section class="section section_slider">
    <img class="top_slider_image" src="/images/svg/top.svg" alt="">
    <div class="section_slider_wrapper">
      <div class="container">
        <div class="j-slider slider">
          <div class="slider__item">
            <blockquote>“A wealth of information creates a poverty of attention.”</blockquote>
            <span>Herbert A Simon, Nobel 1978 Economics</span>
          </div>
          <div class="slider__item">
            <blockquote>“The majority of Americans absorb the equivalent of 174 newspapers a day.”</blockquote>
            <span>Harvard Business Review, “Death By Information Overload”</span>
          </div>
          <div class="slider__item">
            <blockquote>Investments in AI should “test how AI reinvents business, enabling firms to drive growth through
              a reimagined
              operating model.”
            </blockquote>
            <span>Forrester.com/Predictions 2018</span>
          </div>
          <div class="slider__item">
            <blockquote>“Knowledge workers find the information they need only 56% of the time.”</blockquote>
            <span>IDC, “The Knowledge Quotient: Unlocking the Hidden Value of Information Using Search and Content Analytics,”</span>
          </div>
        </div>
      </div>
    </div>
    <img class="bottom_slider_image" src="/images/svg/bottom.svg" alt="">
  </section>


  <section class="section">
    <div class="container">
      <h2 class="section__heading">Easy, immediate insights</h2>
      <div class="blocks">
        <div class="blocks__row">
          <div class="blocks__col col-50">
            <div class="blocks__text">
              <h5 class="blocks__title normal">Tapping into the largest databases, the latest news, and even your
                company’s internal content, ModuleQ gives you business answers, before you ask.</h5>
              <div class="blocks__list">
                <p>AI searches on your behalf for the information that will be useful for your current work
                  priorities</p>
                <p>Seamless experience across mobile, desktop, tablet</p>
                <p>Delivered where you work - doesn’t require going to an additional destination - seamless experience across mobile, desktop, tablet</p>
                <p>Delivered when you need it</p>
              </div>
            </div>
          </div>
          <div class="blocks__col col-50">
            <div class="immediate-insights">
              <img src="/images/svg/MOD-Website-Components-R1_circle pattern.svg" alt="">
            </div>
            <div class="blocks__image w-370 mt">
              <img src="/images/easy_immediate_insights.png" alt="">
              <img class="cirle-graphic" src="/images/svg/MOD-Website-Components-R1_productpage-cirle-graphic.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="section__heading">Personal Data Fusion™</h2>
      <h4 class="section__subheading">The Internet vastly expanded the universe of information available.
        Then smartphones put that information in to the palm of your hands. Now you can do more than ever with data streams of all kinds,
        except that we can only process so much information before it overwhelms us and information overload sets in.
        Enter Personal Data Fusion™, the artificial intelligence technology that will end information overload.
        If your smartphone has ever told you to “leave now for your meeting because traffic is heavy,” you’ve experienced the tip of the iceberg.</h4>
    </div>
  </section>

  <section class="section section_half-grey">
    <img src="/images/MOD-product-fillerphoto.png" class="w-100" alt="">
  </section>

  <section class="section section_padding">
    <div class="container">
      <div class="section_services">
        <div class="section_service">
          <img src="/images/svg/MOD-Website-Components-R1_productpage-people-AI-icon.svg" alt="">
          <h4>People-facing AI</h4>
          <p>ModuleQ delivers tailored insights to you.</p>
        </div>

        <div class="section_service">
          <img src="/images/svg/MOD-Website-Components-R1_productpage-wealth-sources-icon.svg" alt="">
          <h4>More Sources</h4>
          <p>Draw from internal and external sources, tap into premier business intelligence partners.</p>
        </div>
        <div class="section_service">
          <img src="/images/svg/MOD-Website-Components-R1_productpage-mobile-icon.svg" alt="">
          <h4>Mobile Interface</h4>
          <p>ModuleQ goes where you go, just add to Microsoft Teams.</p>
        </div>
        <div class="section_service">
          <img src="/images/svg/two_phone.svg" alt="">
          <h4>White Label</h4>
          <p>ModuleQ supports your branding.</p>
        </div>
        <div class="section_service">
          <img src="/images/svg/MOD-Website-Components-R1_productpage-privacy-icon.svg" alt="">
          <h4>Control your privacy</h4>
          <p>You decide when to share your work. Nothing is shared without your permission.</p>
        </div>
        <div class="section_service">
          <img src="/images/svg/MOD-Website-Components-R1_productpage-security-icon.svg" alt="">
          <h4>Security</h4>
          <p>ModuleQ resides inside your firewalls and meets the highest security measures.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container text-center">
      <p class="section__strong">See what ModuleQ can do for your organization.</p>
      <button class="btn btn_purple btn_xl">
        <span class="btn__text"><a href="mailto:info@moduleq.com?subject=Schedule a demo">Schedule a demo</a></span>
        <img class="btn__icon" src="/images/svg/play-circle.svg" alt="">
      </button>
    </div>

    <div class="img-footer-patern">
      <img src="/images/svg/MOD-Website-Components-R1_footer%20pattern.svg" alt="">
    </div>
  </section>

  <div class="footer">
    @@include('include/footer.html')
  </div>
</div>

@@include('include/script.html')
