@@include('include/head.html')
<div class="page-wrapper">
  <header class="header">
    @@include('include/header.html', {
    "image": "/images/MOD-QforTeams-hero.png",
    "phoneImage": false,
    "title": "Designed for you, <br> delivered in Microsoft",
    "description": "As an official Microsoft partner, ModuleQ is designed to <br> understand your most important work, helping you, your <br> team, and your entire organization work smarter than ever.",
    "btnTest": "CTA GOES HERE",
    "onlyMenu": false
    })
  </header>

  <section class="section">
    <div class="container container_z-index">
      <div class="partners-image">
        <img src="/images/svg/product_page_procces_graphic_2.svg" alt="">
      </div>
      <div class="link_container">
        <span>BUSINESS INFORMATION</span>
        <span>MODULEQ</span>
        <span>TIMELY INSIGHTS</span>
      </div>
      <div class="list_container">
        › Your data — LinkedIn, etc.
        › Office 365 business data — Email, shared docs, chats, calendars, etc.
        › External business data — News and subscription data
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container container_z-index">
      <h2 class="section__heading">ModuleQ and Microsoft Teams</h2>
      <h4 class="section__subheading">ModuleQ is built into Microsoft Teams so it seamlessly analyzes Office 365 metadata to identify your work priorities, determines optimal timing of content delivery, then learns and adapts to your preferences and feedback. We work where you do.</h4>
      <div class="partners-image">
        <img src="/images/svg/MOD-Website-Components-R1_productpage-process-graphic.svg" alt="">
      </div>
    </div>
  </section>

  <section class="section section_half-grey">
    <img src="/images/MOD-homepage-fillerphoto.png" class="w-100" alt="">

    <img src="/images/svg/MOD-Website-Components-R1_hexagonpattern.svg" alt="" class="img-hexagon">
  </section>

  <section class="section container_z-index">
    <div class="container text-center">
      <strong class="section__strong">See what ModuleQ can do for your organization.</strong>
      <button class="btn btn_purple btn_xl">
        <span class="btn__text">Schedule a demo</span>
        <img class="btn__icon" src="/images/svg/play-circle.svg" alt="">
      </button>
    </div>

    <div class="img-footer-patern">
      <img src="/images/svg/MOD-Website-Components-R1_footer%20pattern.svg" alt="">
    </div>
  </section>

  <div class="footer container_z-index">
    @@include('include/footer.html')
  </div>
</div>

@@include('include/script.html')
