@@include('include/head.html')
<div class="page-wrapper">
  <header class="header">
    @@include('include/header.html', {
    "onlyMenu": true,
    "activeMenu": "terms"
    })
  </header>

  <section class="section">
    <div class="container">
      <h2 class="section__heading">MODULEQ TERMS OF SERVICE</h2>
      <p><strong>Last Revised: February 28, 2017</strong></p>
      <p><strong>Welcome to ModuleQ. </strong></p>
      <p>These Terms of Service (these “<strong>Terms</strong>”) apply to the Hosted Personal Data Fusion Solution
        provided by ModuleQ, Inc. (“<strong>ModuleQ</strong>) via ModuleQ.com (the “<strong>Site</strong>”) and/or the Q
        bot (the “<strong>Bot</strong>”) (collectively, the “<strong>Services</strong>”). For purposes of these Terms,
        “ModuleQ,” “us,” “we,” or “our” refers to ModuleQ and its directors, officers, employees, agents,
        representatives, and assigns, and “Customer,” “you” or “your” refers to any person who accesses or uses the
        Services.</p>
      <p>By registering to use the Services or accessing any of the Services, you acknowledge and agree that you have
        read all of the terms and conditions of these Terms, and these Terms form a binding agreement between you and
        ModuleQ.</p>
      <p>The “<strong>Effective Date</strong>” of these Terms is the date you first access any of the Services.</p>
      <p>ModuleQ reserves the right to change or modify any of the terms and conditions contained in these Terms (or any
        policy or guideline of ModuleQ) at any time and in its sole discretion by providing notice that these Terms have
        been modified. Such notice may be provided by (a)&nbsp;sending an email, (b)&nbsp;posting a notice on the Site,
        (c)&nbsp;posting the revised Terms on the Site and revising the date at the top of these Terms or (d)&nbsp;such
        other form of notice as determined by ModuleQ. Any changes or modifications will be effective 30 days after
        providing notice that these Terms have been modified (the “<strong>Notice Period</strong>”). Your continued use
        of any of the Services following the Notice Period will constitute your acceptance of such changes or
        modifications. Therefore, you should review these Terms whenever you access the Services and at least every 30
        days to make sure that you understand the terms and conditions that will apply to your use of Services.</p>
      <ol>
        <li><strong>SERVICES</strong></li>
      </ol>
      <p>Subject to the terms and conditions of these Terms, ModuleQ grants Customer a limited, non-transferable,
        non-exclusive and revocable right and license to access the Services for the applicable period (the “<strong>Subscription
          Period</strong>”) for which Customer has paid the applicable fees for the Services (the “<strong>Subscription
          Fees</strong>”).</p>
      <ol start="2">
        <li><strong>PRIVACY</strong></li>
      </ol>
      <p>Please see ModuleQ’s privacy policy at ModuleQ.com/privacy-policy/ for information about how ModuleQ collects,
        uses and discloses information about users of the Services.</p>
      <ol start="3">
        <li><strong>SUPPORT</strong></li>
      </ol>
      <p>ModuleQ will use commercially reasonable efforts to provide to Customer ModuleQ’s then-current support and
        maintenance related to the Services.</p>
      <ol start="4">
        <li><strong>RESTRICTIONS</strong></li>
      </ol>
      <p>Customer is solely responsible for Customer’s conduct (and the conduct of anyone who uses the Services on
        Customer’s behalf) with respect to the Service, which Customer uses at Customer’s own risk. Except as expressly
        authorized by these Terms, Customer may not: (a)&nbsp;modify, disclose, alter, translate or create derivative
        works of the Services (or any components thereof); (b)&nbsp;license, sublicense, resell, distribute, lease,
        rent, lend, transfer, assign or otherwise dispose of the Services (or any components thereof); (c)&nbsp;disassemble,
        decompile or reverse engineer the Services; (d)&nbsp;use the Services to store or transmit infringing, libelous,
        or otherwise unlawful or tortious material, or to store or transmit material in violation of third-party privacy
        rights; (e)&nbsp;use the Services to store or transmit any viruses, software routines or other code designed to
        permit unauthorized access, to disable, erase or otherwise harm software, hardware or data, or to perform any
        other harmful actions; (f)&nbsp;copy, frame or mirror any part or content of the Services; (g)&nbsp;build a
        competitive product or service, or copy any features or functions of the Services; (h)&nbsp;interfere with or
        disrupt the integrity or performance of the Services; (i)&nbsp;attempt to gain unauthorized access to the
        Services or their related systems or networks; (j)&nbsp;disclose to any third party any performance information
        or analysis relating to the Services; (k)&nbsp;remove, alter or obscure any proprietary notices in or on the
        Services including copyright notices; or (l) cause or permit any third party to do any of the foregoing.</p>
      <ol start="5">
        <li><strong>CONTENT AND DATA</strong></li>
      </ol>
      <p><u>License</u>. Subject to the terms and conditions of these Terms, Customer grants to ModuleQ a
        non-transferable, non-exclusive right to access, post, modify, create derivative works of and host the content
        and information uploaded, posted, made accessible or used in connection with the Services (collectively, the
        “<strong>Customer Content</strong>”) solely to perform and make the Services available to Customer and other
        users of the Services. Following termination of Customer’s right to access the Services or deactivation of
        Customer’s account, or if Customer removes any Customer Content from the Service, ModuleQ may retain your
        Customer Content for a commercially reasonable period of time for backup, archival, or audit purposes. In
        addition, ModuleQ and its users may retain and continue to use, store, display, reproduce, re-post, modify,
        create derivative works of, perform, and distribute any of your Customer Content that other users have stored or
        shared through the Service.</p>
      <p><u>Acceptable Use</u>. Customer will not (and will not allow or authorize any third party to) post, upload to,
        transmit, distribute, store, create, solicit, disclose, or otherwise publish through the Services any of the
        following: (a)&nbsp;Customer Content that is unlawful, libelous, defamatory, obscene, pornographic, indecent,
        lewd, suggestive, exploitive of children, invasive of privacy or publicity rights, abusive, inflammatory, false,
        misleading, fraudulent, or deceptive; (b)&nbsp;Customer Content that would constitute, encourage or provide
        instructions for a criminal offense, or violate the rights of any party or any law or regulation; (c)&nbsp;Customer
        Content that, in ModuleQ’s judgment, is disrespectful or otherwise objectionable or may expose ModuleQ, its
        users, or others to harm or liability; (d)&nbsp;Customer Content that contains any information or content that
        Customer does not have a right to make available under any law or under contractual or fiduciary relationships;
        (e)&nbsp;unsolicited promotions, political campaigning, advertising, or solicitations; (f)&nbsp;Customer Content
        that may infringe the patent, trademark, trade secret, copyright, privacy, intellectual property or other
        proprietary right of any party; (g)&nbsp;viruses, corrupted data or other harmful, disruptive, or destructive
        files; or (h)&nbsp;Customer Content that inhibits any other person from using or enjoying the Service. If
        Customer violates (or are alleged to have violated) any of the foregoing restrictions, Customer’s right to use
        of the Services will immediately and automatically terminate, and Customer may have infringed the copyright or
        other rights of ModuleQ, which may subject Customer to prosecution and damages.</p>
      <p><u>Warranty</u>. Customer represents and warrants that: (a)&nbsp;all Customer Content is either the sole
        property of Customer or has been collected from other users of the Services or third parties by Customer in
        accordance with Customer’s privacy guidelines and all applicable laws; (b)&nbsp;Customer has obtained all
        consents (including, but not limited to, all consents required by the applicable laws) to use the Customer
        Content in connection with the Services and to provide the rights granted to ModuleQ under these Terms with
        respect to the Customer Content; and (c)&nbsp;neither the Customer Content nor the exercise of any rights
        granted by Customer (or any other users of the Services) to ModuleQ with respect to the Customer Content
        infringes, misappropriates or violates any Intellectual Property Rights (as defined below), rights of privacy,
        rights of publicity or any other rights of any third party.</p>
      <p><u>Disclaimers</u>. ModuleQ reserves the right, but does not have the obligation, to remove or screen, at any
        time and without notice, any Customer Content posted or stored on the Services that ModuleQ believe violates an
        acceptable use restriction. Customer is solely responsible for creating backup copies of and replacing your
        Customer Content at Customer’s sole cost and expense.</p>
      <p><u>Anonymous Usage Data</u>. Customer acknowledges and agrees that ModuleQ may monitor, collect, use and store
        anonymous and aggregate statistics regarding use of the Services and/or any individuals/entities that interact
        with the Services (“<strong>Anonymous Usage Data</strong>”).</p>
      <ol start="6">
        <li><strong>OWNERSHIP AND RESERVATION OF RIGHTS</strong></li>
      </ol>
      <p><u>Customer</u>. As between the parties and subject to the grant in Section 5 (Content and Data), Customer owns
        all right, title and interest in and to the Customer Content, Customer’s products and services, the trade name,
        trademarks, logos and service marks (“<strong>Marks</strong>”) of Customer and any and all Intellectual Property
        Rights embodied in or related to the foregoing (collectively, the “<strong>Customer IP</strong>”).</p>
      <p><u>ModuleQ</u>. As between the parties and subject to the grant in Section 1 (Services and Registration),
        ModuleQ owns all right, title and interest in and to the Services (and any and all modifications to or
        derivative works of the Services), the Anonymous Usage Data and any and all Intellectual Property Rights
        embodied in or related to the foregoing (collectively, the “<strong>ModuleQ IP</strong>”).</p>
      <p><u>Reservation of Rights</u>. Each party reserves all rights not expressly granted in these Terms, and no
        licenses are granted by a party to the other party under these Terms, whether by implication, estoppel or
        otherwise, except as expressly set forth in these Terms. For the purpose of these Terms, “<strong>Intellectual
          Property Rights</strong>” means all patents, copyrights, moral rights, trademarks, trade names and any other
        form of intellectual property rights recognized in any jurisdiction, including applications and registrations
        for any of the foregoing.</p>
      <ol start="7">
        <li><strong>FEES AND PAYMENT TERMS</strong></li>
      </ol>
      <p><u>Fees</u>. The Subscription Fees are set forth in the ModuleQ plan selected by Customer. ModuleQ, at its sole
        discretion, may modify its pricing during any Subscription Period and such pricing changes will be effective as
        of the directly subsequent Subscription Period. Unless ModuleQ states otherwise, all payments must be made in
        U.S. Dollars by check in immediately available funds to an account designated by ModuleQ <u>or</u> by
        credit/debit card via an authorized ModuleQ payment processor. If by credit/debit card, Customer hereby: (a)&nbsp;authorizes
        ModuleQ (or its authorized payment processor) to charge the credit/debit card number provided to ModuleQ; and
        (b)&nbsp;represents and warrants that Customer is authorized to use and have fees charged to the credit/debit
        card number provided to ModuleQ. Customer understands that it may withdraw such authorization by contacting
        ModuleQ at 717 Market St Ste 100, San Francisco, CA 94103.</p>
      <p><u>Interest and Taxes</u>. Interest on any late payments will accrue at the rate of 1.5% per month, or the
        highest rate permitted by law, whichever is lower, from the date such amount is due until the date such amount
        is paid in full. Customer will be responsible for, and will pay all sales and similar taxes, all license fees
        and similar fees levied upon the provision of the Services provided under these Terms excluding taxes based
        solely on ModuleQ’s net income. Customer will indemnify and hold ModuleQ harmless from and against any and all
        such taxes and related amounts levied upon the provision of the Services and any costs associated with the
        collection or withholding thereof, including penalties and interest.</p>
      <ol start="8">
        <li><strong>CONFIDENTIAL INFORMATION AND FEEDBACK</strong></li>
      </ol>
      <p>“<strong>Confidential Information</strong>” means all information disclosed (whether in oral, written, or other
        tangible or intangible form) by ModuleQ to Customer (or otherwise discovered by Customer) concerning or related
        to these Terms, ModuleQ and/or the Services (whether before, on or after the Effective Date) which Customer
        knows or should know, given the facts and circumstances surrounding the disclosure of the information, is the
        confidential information of ModuleQ including, but not limited to: trade secrets, know-how, business plans, the
        Services and other similar information. Customer will, during the term of these Terms and thereafter, maintain
        in confidence the Confidential Information and will not use or disclose such Confidential Information except as
        expressly permitted in these Terms. Customer will use the same degree of care in protecting the Confidential
        Information as Customer uses to protect its own confidential information from unauthorized use or disclosure,
        but in no event less than reasonable care. Notwithstanding any terms to the contrary in these Terms, any
        suggestions, comments or other feedback provided by Customer to ModuleQ with respect to the Services, any
        support and maintenance provided by ModuleQ or ModuleQ (collectively, “<strong>Feedback</strong>”) will
        constitute Confidential Information. ModuleQ will be free to use, disclose, reproduce, license and otherwise
        distribute and exploit the Feedback provided to it as it sees fit, entirely without obligation or restriction of
        any kind, on account of Intellectual Property Rights or otherwise. Customer acknowledges and agrees that any
        unauthorized disclosure of Confidential Information will result in irreparable injury to ModuleQ, which injury
        could not be adequately compensated by the payment of money damages. In addition to any other legal and
        equitable remedies that may be available, ModuleQ will be entitled to seek and obtain injunctive relief against
        any breach or threatened breach by Customer of the confidentiality obligations hereunder, from any court of
        competent jurisdiction, without being required to show any actual damage or irreparable harm, prove the
        inadequacy of its legal remedies or post any bond or other security.</p>
      <ol start="9">
        <li><strong>SECURITY&nbsp;AND REQUIRED DISCLOSURES</strong></li>
      </ol>
      <p>ModuleQ will use commercially reasonable efforts to prevent unauthorized access to the Services. In the event
        of a security incident/infraction relating to the Services, then ModuleQ will notify Customer of the
        incident/infraction.</p>
      <p>Notwithstanding any terms to the contrary in these Terms, ModuleQ may disclose Customer Content: (a)&nbsp;as
        required by any applicable laws; or (b)&nbsp;in response to a subpoena or other compulsory legal process.</p>
      <ol start="10">
        <li><strong>TERM, TERMINATION AND EFFECTS OF TERMINATION</strong></li>
      </ol>
      <p><u>Term</u>. Unless terminated earlier as permitted below, the term of these Terms will be for the Subscription
        Period, and thereafter, these Terms will automatically renew for additional periods equivalent in length to the
        initial Subscription Period.</p>
      <p><span style="text-decoration: underline;">Termination and Suspension</span>. Either party may terminate these
        Terms, for cause, if the other party&nbsp;breaches these Terms and does not remedy such failure within 10 days
        after its receipt of written notice of such breach. Further, if Customer uses the Services in any unauthorized
        manner, ModuleQ may immediately terminate or suspend these Terms or Customer’s use of the Services, for cause,
        with or without written notice to Customer.</p>
      <p><u>Effect of Termination</u>. Upon any termination of these Terms: (a)&nbsp;all rights and licenses granted to
        Customer under these Terms will immediately cease; (b)&nbsp;Customer will immediately pay to ModuleQ all amounts
        due and payable up to the effective date of termination of these Terms; and (c)&nbsp;Customer will promptly
        return to ModuleQ all Confidential Information then in its possession. Notwithstanding any terms to the contrary
        in these Terms, this paragraph and Sections 4 (Restrictions), 6 (Ownership and Reservation of Rights), 8
        (Confidential Information and Feedback), 11 (Disclaimer), 12 (Indemnification), 13 (Limitation of Liability), 14
        (Arbitration) and 15 (Miscellaneous) will survive any termination of these Terms.</p>
      <ol start="11">
        <li><strong>DISCLAIMER</strong></li>
      </ol>
      <p>THE SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. MODULEQ DISCLAIMS ALL WARRANTIES AND
        REPRESENTATIONS (EXPRESS OR IMPLIED, ORAL OR WRITTEN) WITH RESPECT TO THESE TERMS, THE MODULEQ IP, ANY
        THIRD-PARTY SOFTWARE OR ANY CUSTOMER CONTENT WHETHER ALLEGED TO ARISE BY OPERATION OF LAW, BY REASON OF CUSTOM
        OR USAGE IN THE TRADE, BY COURSE OF DEALING OR OTHERWISE, INCLUDING ANY WARRANTIES OF MERCHANTABILITY,
        WARRANTIES OF FITNESS OR SUITABILITY FOR ANY PURPOSE (WHETHER OR NOT MODULEQ KNOWS, HAS REASON TO KNOW, HAS BEEN
        ADVISED, OR IS OTHERWISE AWARE OF ANY SUCH PURPOSE), AND WARRANTIES OF NON-INFRINGEMENT OR CONDITION OF
        TITLE.</p>
      <ol start="12">
        <li><strong>INDEMNIFICATION</strong></li>
      </ol>
      <p>Customer, at its sole expense, will defend, indemnify and hold ModuleQ (and its directors, officers, employees,
        contractors and agents) harmless from and against any and all actual or threatened suits, actions, proceedings
        (at law or in equity), claims, damages, payments, deficiencies, fines, judgments, settlements, liabilities,
        losses, costs and expenses (including, but not limited to, reasonable attorneys’ fees, costs, penalties,
        interest and disbursements) caused by, arising out of or resulting from Customer IP or Customer’s violation (or
        alleged violation) of these Terms (including, any breach or alleged breach by Customer of any of Customers
        representations or warranties).</p>
      <ol start="13">
        <li><strong>LIMITATION OF LIABILITY</strong></li>
      </ol>
      <p>IN NO EVENT WILL MODULEQ BE LIABLE TO CUSTOMER, ANY USERS OR ANY THIRD PARTY FOR ANY INCIDENTAL, SPECIAL,
        INDIRECT, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES WHATSOEVER, ARISING OUT OF OR RELATED TO THESE TERMS OR
        THE MODULEQ IP, HOWEVER CAUSED, REGARDLESS OF THE THEORY OF LIABILITY (CONTRACT, WARRANTY, TORT (INCLUDING
        NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY), EVEN IF
        MODULEQ HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. FURTHER, IN NO EVENT WILL MODULEQ’S TOTAL LIABILITY
        ARISING OUT OF OR RELATED TO THESE TERMS EXCEED THE FEES PAID BY CUSTOMER TO MODULEQ DURING THE SUBSCRIPTION
        PERIOD WITHIN WHICH THE DAMAGES AROSE. NOTWITHSTANDING ANY TERMS TO THE CONTRARY IN THESE TERMS: (A)&nbsp;THE
        SOLE AND EXCLUSIVE REMEDY FOR ANY FAILURE OF ANY SERVICE LEVEL STANDARDS ARE THE CREDITS PROVIDED UNDER THESE
        TERMS; AND (B)&nbsp;MODULEQ WILL NOT BE LIABLE FOR ANY DISCLOSURE OF, UNAUTHORIZED USE OF AND/OR UNAUTHORIZED
        ACCESS TO ANY CUSTOMER CONTENT.</p>
      <ol start="14">
        <li><strong>ARBITRATION</strong></li>
      </ol>
      <p>PLEASE READ THE FOLLOWING PROVISIONS CAREFULLY BECAUSE THEY REQUIRE CUSTOMER AND MODULEQ TO ARBITRATE DISPUTES
        AND LIMITS THE MANNER IN WHICH BOTH PARTIES CAN SEEK RELIEF.</p>
      <p>Customer and ModuleQ will arbitrate any dispute, claim, or controversy arising from or related to these Terms
        or the Services, except that neither Customer nor ModuleQ is required to arbitrate any dispute in which either
        party seeks equitable and/or other relief for the alleged unlawful use of copyrights, trademarks, trade names,
        logos, or patents. <u>ARBITRATION PREVENTS CUSTOMER AND MODULEQ FROM SUING IN COURT OR FROM HAVING A JURY
          TRIAL</u>. Customer and ModuleQ will notify each other of any dispute within 30 days of when it arises and
        attempt informal resolution before any demand for arbitration. Arbitration will be conducted confidentially in
        San Francisco, California by a single arbitrator in accordance with the rules of JAMS (or its successor). Except
        as expressly provided in these Terms, the arbitrator has the authority to grant any remedy that would otherwise
        be available in court. The arbitrator will render a written opinion including findings of fact and law, and the
        award and determination of the arbitrator will bind the parties and will not be subject to an appeal. Judgment
        may be entered upon the award of the arbitrator in any court of competent jurisdiction. The parties will equally
        share the expenses of the arbitration unless the arbitrator determines to apportion fees and expenses
        differently. To the fullest extent permitted by applicable law, Whether the dispute is heard in arbitration or
        in court, NO ARBITRATION OR CLAIM UNDER THESE TERMS WILL BE JOINED TO ANY OTHER ARBITRATION OR CLAIM, INCLUDING
        ANY ARBITRATION OR CLAIM INVOLVING ANY OTHER CURRENT OR FORMER USER OF THE SERVICES, AND NEITHER CUSTOMER NOR
        MODULEQ will commence against the other a class action, class ARBITRATION, or other representative action or
        proceeding.</p>
      <p>Customer can choose to reject this agreement to arbitrate (“opt out”) by sending ModuleQ a written opt-out
        notice (the “<strong>Opt-Out Notice</strong>”) to 717 Market St Ste 100, San Francisco, CA 94103 within 30 days
        after the date Customer accepts these Terms for the first time. The Opt-Out Notice must state that Customer does
        not agree to this agreement to arbitrate and must include Customer’s name, address, phone number and email
        address. Customer must sign the Opt-Out Notice for it to be effective. This procedure is the only way Customer
        can opt-out of this agreement to arbitrate. If Customer opts-out of this agreement to arbitrate, all other parts
        of these Terms will continue to apply.</p>
      <ol start="15">
        <li><strong>MISCELLANEOUS</strong></li>
      </ol>
      <p><u>Entire Agreement</u>. These Terms (including the terms and conditions incorporated into these Terms by
        reference) set forth the entire agreement and understanding of the parties relating to the subject matter
        hereof, and supersede all prior or contemporaneous agreements, proposals, negotiations, conversations,
        discussions and understandings, written or oral, with respect to such subject matter and all past dealing or
        industry custom.</p>
      <p><u>Governing Law and Dispute Resolution</u>. These Terms will be governed by and construed in accordance with
        the laws of the State of California, without resort to its conflict of law provisions. The state or federal
        court in San Francisco, California will be the jurisdiction in which any suits should be filed if they relate to
        these Terms. Prior to the filing or initiation of any action or proceeding relating to these Terms, the parties
        must participate in good faith mediation in San Francisco County, California. If a party initiates any
        proceeding regarding these Terms, the prevailing party to such proceeding is entitled to reasonable attorneys’
        fees and costs for claims arising out of these Terms.</p>
      <p><u>Independent Contractors</u>. Neither party will, for any purpose, be deemed to be an agent, franchisor,
        franchise, employee, representative, owner or partner of the other party, and the relationship between the
        parties will only be that of independent contractors. Neither party will have any right or authority to assume
        or create any obligations or to make any representations or warranties on behalf of any other party, whether
        express or implied, or to bind the other party in any respect whatsoever.</p>
      <p><u>Assignment</u>. Customer may not assign, delegate or transfer (by sale, merger, operation of law or
        otherwise) these Terms or any right, title, interest or obligation hereunder without the prior written consent
        of ModuleQ. Any attempted or purported assignment, delegation or transfer in violation of the foregoing will be
        null and void and without effect. ModuleQ may assign these Terms without Customer’s prior written consent. These
        Terms will be binding and inure to the benefit of such assignees, transferees and other successors in interest
        of the parties, in the event of an assignment or other transfer made consistent with the provisions of these
        Terms.</p>
      <p><u>Electronic Communications</u>. ModuleQ may choose to electronically deliver all communications with
        Customer, which may include email to the email address Customer provides to ModuleQ. ModuleQ’s electronic
        communications to Customer may transmit or convey information about action taken on Customer’s request, portions
        of Customer’s request that may be incomplete or require additional explanation, any notices required under
        applicable law and any other notices. Customer agrees to do business electronically with ModuleQ and to receive
        electronically all current and future notices, disclosures, communications and information and that the
        aforementioned electronic communications satisfy any legal requirement that such communications be in writing.
        An electronic notice will be deemed to have been received on the day of receipt as evidenced by such email.</p>
      <p><u>Force Majeure</u>. Except for payments due under these Terms, neither party will be responsible for any
        failure to perform or delay attributable in whole or in part to any cause beyond its reasonable control
        including, but not limited to, acts of God (fire, storm, floods, earthquakes, etc.), civil disturbances,
        disruption of telecommunications, disruption of power or other essential services, interruption or termination
        of service (including, hosting services) by any service providers being used by ModuleQ, labor disturbances,
        vandalism, cable cut, computer viruses or other similar occurrences, or any malicious or unlawful acts of any
        third party (a “<strong>Force Majeure Event</strong>”).</p>
      <p><u>Severability</u>. If any provision of these Terms is invalid, illegal or incapable of being enforced by any
        rule of law or public policy, all other provisions of these Terms will nonetheless remain in full force and
        effect so long as the economic and legal substance of the transactions contemplated by these Terms is not
        affected in any manner adverse to any party. Upon such determination that any provision is invalid, illegal or
        incapable of being enforced, the parties will negotiate in good faith to modify these Terms so as to effect the
        original intent of the parties as closely as possible in an acceptable manner to the end that the transactions
        contemplated hereby are fulfilled.</p>
      <ol start="16">
        <li><strong>COPYRIGHT POLICY </strong></li>
      </ol>
      <p><u>Repeat Infringer Policy</u>. In accordance with the Digital Millennium Copyright Act (DMCA) and other
        applicable law, ModuleQ has adopted a policy of terminating, in appropriate circumstances and at ModuleQ’s sole
        discretion, subscribers or account holders who are deemed to be repeat infringers. ModuleQ may also at its sole
        discretion limit access to the Services or terminate the accounts of any users who infringe any intellectual
        property rights of others, whether or not there is any repeat infringement.</p>
      <p><u>Copyright Complaints</u>. If you believe that anything on the Services infringes upon any copyright that you
        own or control, you may file a notification with ModuleQ’s Designated Agent as set forth below:</p>
      <p>Designated Agent: ModuleQ Copyright Agent<br>
        Address of Designated Agent: 717 Market St Ste 100, San Francisco, CA 94103<br>
        Email Address of Designated Agent: copyright.agent@moduleq.com<br>
        Fax Number of Designated Agent: 347-823-6953<br>
        Phone number of Designated Agent: 415-562-6767</p>
      <p>Please see 17 U.S.C. §&nbsp;512(c)(3) for the requirements of a proper notification. If you knowingly
        misrepresent in your notification that the material or activity is infringing, you may be liable for any
        damages, including costs and attorneys’ fees, incurred by ModuleQ or the alleged infringer as the result of
        ModuleQ relying upon such misrepresentation in removing or disabling access to the material or activity claimed
        to be infringing.</p>
      <ol start="17">
        <li><b>QUESTIONS</b></li>
      </ol>
      <p>If you have any questions regarding the use of the Services, please email ModuleQ at &lt;moduleq@moduleq.com&gt;.</p>
    </div>
  </section>

  <div class="footer">
    @@include('include/footer.html')
  </div>
</div>

@@include('include/script.html')
