<div class="footer__wrapper">
  <div class="footer__content">
    <div class="container">
      <div class="footer__social-share">
        <a href=""><img src="/images/svg/facebook-logo-button.svg" alt=""></a>
        <a href=""><img src="/images/svg/twitter-logo-button.svg" alt=""></a>
        <a href=""><img src="/images/svg/linkedin-logo-button.svg" alt=""></a>
      </div>

      <div class="footer__info">Footer info</div>
    </div>
  </div>

  <div class="footer__copyright">
    <div class="container">
      <p>Copyright © 2018 ModuleQ®</p>
    </div>
  </div>
</div>
