<div class="footer__wrapper">
  <div class="footer__content">
    <div class="container">
      <div class="footer__social-share">
        <a href="https://www.facebook.com/moduleq" target="_blank"><img src="/images/svg/facebook-logo-button.svg" alt=""></a>
        <a href="https://twitter.com/moduleq" target="_blank"><img src="/images/svg/twitter-logo-button.svg" alt=""></a>
        <a href="https://www.linkedin.com/company/moduleq/" target="_blank"><img src="/images/svg/linkedin-logo-button.svg" alt=""></a>
      </div>

      <div class="footer__info row">
        <div class="col-25">
          <h3 class="footer__info-title">MODULEQ</h3>
          <div class="divider"></div>
          <div class="footer__info-content">
            <p><a href="/product.html">Product</a></p>
            <p><a href="/business-information.html">Business Information Providers</a></p>
            <p><a href="/q-for-teams.html">Q For Teams</a></p>
          </div>
        </div>
        <div class="col-25">
          <h3 class="footer__info-title">POLICIES</h3>
          <div class="divider"></div>
          <div class="footer__info-content">
            <p><a href="/privacy.html">Privacy Policy</a></p>
            <p><a href="/terms.html">Terms of Service</a></p>
          </div>
        </div>
        <div class="col-25">
          <h3 class="footer__info-title">OUR COMPANY</h3>
          <div class="divider"></div>
          <div class="footer__info-content">
            <p><a href="/company-about.html">About</a></p>
            <p><a href="mailto:info@moduleq.com?subject=ModuleQ inquiry">Contact</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__copyright">
    <div class="container">
      <p>Copyright © 2018 ModuleQ®</p>
    </div>
  </div>
</div>
