  @@if (onlyMenu === false) {
  <div class="header__outer">

  <div class="header__image">
    <img src="@@image" alt="">
  </div>
    <div class="header__inner">
    }
  @@if (onlyMenu === true) {
      <div class="header__outer extra-padding">
      <div class="header__inner without-bg">
  }
    <div class="container">
      <div class="header__btn">
        <a class="btn fancybox" href="https://www.youtube.com/embed/BG6t8GKpETE?autoplay=1">
          <span class="btn__text">how moduleq works</span>
          <img class="btn__icon" src="/images/svg/play.svg" alt="">
        </a>
      </div>
      <div class="header__menu-wrapper">
        <a href="/index.html" class="logo"><img src="/images/svg/logo.svg" alt=""></a>
        <div class="header__menu">
          <ul class="menu">
            <li class="menu__item">
              <a href="/product.html" class="menu__link">Product</a>
            </li>
            <li class="menu__item">
              <a href="/business-information.html" class="menu__link">Business Information Providers</a>
            </li>
            <li class="menu__item">
              <a href="/q-for-teams.html" class="menu__link">Q For Teams</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Company</a>
            </li>
            <li class="menu__item">
              <a href="mailto:info@moduleq.com?subject=ModuleQ inquiry" class="menu__link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      @@if (onlyMenu === false) {
      <div class="header__grid">
        <div class="header__column flex-grow-1">
          <h1 class="h1">@@title</h1>
          <h3 class="h3">@@description</h3>
          <button class="btn btn_purple btn_xl">
            <span class="btn__text">@@btnTest</span>
            <img class="btn__icon" src="/images/svg/play-circle.svg" alt="">
          </button>
        </div>
        <div class="header__column">
          @@if (phoneImage === true) {
            <div class="header__phone-image">
              <img src="/images/homepage_phone.png" alt="">
            </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
