<div class="header__outer">
  <div class="header__image">
    <img src="./images/MOD-homepage-hero.png" alt="">
  </div>
  <div class="header__inner">
    <div class="container">
      <div class="header__btn">
        <button class="btn">
          <span class="btn__text">how moduleq works</span>
          <i class="btn__icon"></i>
        </button>
      </div>
      <div class="header__menu-wrapper">
        <a href="#" class="logo"></a>
        <div class="header__menu">
          <ul class="menu">
            <li class="menu__item">
              <a href="#" class="menu__link">Product</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Business Information Providers</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Q For Teams</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Company</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__grid">
        <div class="header__column flex-grow-1">
          <h1 class="h1">Business Answers, </br> Before You Ask</h1>
          <h3 class="h3">With ModuleQ’s People-Facing AI insights, </br> you don’t need to find critical
            information.</br> It finds you.</h3>
        </div>
        <div class="header__column">
          <div class="test-image-block"></div>
        </div>
      </div>
      <div>
        <button class="btn btn_purple btn_xl">
          <span class="btn__text">watch the video</span>
          <i class="btn__icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>
